// בס"ד

.header-container {
    border-block-end: 1px solid #ccc;
    padding: 10px;
    // display: flex;
    // justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 101;
    background-color: #fff;

    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }

    nav {
        background-color: $clr4;
        padding: 5px 0;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}

.main-header {
    display: flex;
    justify-content: space-between;
    // grid-column: 2;
}

.logo {
    cursor: pointer;
    color: #ff385c;
    font-weight: bolder;
    font-size: 22px;

    img {
        height: 32px;
        transform: translate(-3px, 14px);
    }

    p {
        margin: 0;
        display: inline-block;
        transform: translate(4px, 5px);
    }
}

.user-area {
    display: flex;
    align-items: center;

    :first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 148.35px;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
        transition: color 250ms ease;
        color: rgb(34, 34, 34);

        &:hover:not(svg) {
            background-color: #f7f7f7;
            height: 42px;
        }
    }

    a {
        font-size: 14px;
    }

    .hamburger {
        cursor: pointer;
        width: 76.6px;
        height: 42px;
        border-radius: 25px;
        border: 1px solid rgb(221, 221, 221);
        margin-inline-start: 15px;
        padding-inline-start: 2.2px;
        padding-block-start: 0.5px;
        transition: box-shadow 0.2s ease;


        svg {
            display: block;
            height: 16px;
            width: 16px;
            stroke: rgb(34, 34, 34);
            stroke-width: 3;
            transform: translate(11px, 12px);
        }

        img {
            height: 30px;
            border-radius: 50%;
            transform: translate(39px, -11px);
        }

        &:hover {
            box-shadow: 0 2px 4px rgb(0, 0, 0, 0.18);
        }
    }
}

.secondary-header {
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 81px;
    width: 100vw;
    position: absolute;
    top: 79px;
    z-index: 101;

    .screen {
        background-color: rgba(40, 40, 40, 0.25);
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 80px;
        z-index: 1;
    }


}