// בס"ד

.big-pill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 852px;
    height: 68px;
    background-color: #ebebeb;
    border-radius: 40px;
    border: 0.8px solid rgb(211, 211, 211);
    z-index: 101;
    cursor: pointer;
    transform: translate(-9px, 0px);
    font-family: Airbnb_Cereal-Book;
    position: relative;

    .where-content {
        padding-block-start: 1px;
    }

    & div:first-child:not(.date-picker,.date-picker *, .flex),
    .in,
    .out {
        display: inline-block;

        :first-child:not(h5) {
            font-size: rem(12px);
            font-weight: 800;
            color: rgb(34, 34, 34);
        }

        :last-child:not(span, h5) {
            font-size: rem(14px);
            font-weight: 50;
            color: rgb(113, 113, 113);
        }
    }

    p {
        margin: 0;
    }

    input {
        background-color: #ededed;
        width: rem(226.09px);
    }

    svg {
        display: inline-block;
        height: 16px;
        width: 16px;
        stroke: #fff;
        stroke-width: 4;
        overflow: visible;
        transform: translate(-2px, 0px);
    }

    .separator {
        width: 1px;
        height: 20px;
        background: rgb(211, 211, 211);
    }

    .where-container {
        width: 327.688px;
        padding-inline-start: 35px;
        height: 67.6px;
        border-radius: 40px;

        .where {
            transform: translate(9px, 14px);

            p {
                transform: translate(-12px, -1px);
            }

            input {
                transform: translate(-12px,-3px);
            }
        }
    }

    .search-container {
        width: 262.55px;
        height: 68.4px;
        border-radius: 40px;

        &:hover {
            background-color: #ddd;

            .out-search {
                background: none;
            }
        }

        .search-content {
            transform: translate(84px, 4px);

            div {
                transform: translate(-9px, 2px);

                .search-txt {
                    display: inline-block;
                    color: #fff;
                    transform: translate(6px, -4px);
                }
            }

            .search-btn {
                color: #fff;
                height: rem(48px);
                font-size: rem(16px);
                font-weight: 600;
                font-family: CircularAir-Light;
            }
        }

        .who {
            transform: translate(-41px, 7px);
            padding-block-start: 2px;

            :first-child {
                transform: translate(-50px, -4px);
            }

            :last-child {
                transform: translate(-51px, -5px);
            }
        }
    }

    .in,
    .out {
        padding-block: 7px;
        padding-inline: 24px;
        // outline: auto;
        height: 65px;
        border-radius: 40px;

        &:hover {
            background-color: #ddd;
        }
    }


    .in {

        :first-child {
            transform: translate(-16px, 0px);
        }

        :last-child {
            transform: translate(-17px, -6px);
        }

    }

    .out {

        :first-child {
            transform: translate(-1px, 0px);
        }

        :last-child {
            transform: translate(-1px, -6px);
        }
    }


    .focus {
        background-color: #fff;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: #fff;
        }

        input {
            background-color: #fff;
        }
    }
}