// בס"ד
.where-modal {
    position: absolute;
    top: 159px;
    left: 214px;
    z-index: 101;
    width: 840px;
    height: 472px;
    border-radius: 31px;
    background-color: #fff;

    .flex {
        padding-block: 32px;
        justify-content: center;
        align-items: center;

        .resent-searches {
            width: 345px;
            height: 410px;
            border-right: 1px solid #ebebeb;

            h5 {
                padding-inline-start: 32px;
                ;
            }
        }

        .regions {
            width: 478.8px;
            height: 386px;
            padding-inline-start: 44px;

            h5 {
                margin-bottom: 28px;
                margin-block-start: 5px;
            }

            .grid {

                grid-template-columns: repeat(3, min-content);
                column-gap: 5px;
                row-gap: 24px;

                >* {
                    padding: 4px;
                    // display: inline-block;
                }

                img {
                    height: 122.4px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}

.check-modal {
    position: absolute;
    top: 159px;
    left: 214px;
    z-index: 101;
    height: 552px;
    width: 850px;
    border-radius: 30px;
    background-color: #fff;
}

.who-modal {
    position: absolute;
    top: 159px;
    left: 786px;
    z-index: 101;
    height: 400px;
    width: 407px;
    border-radius: 29px;
    background-color: #fff;
    padding-block: 40px;
    padding-inline-start: 36px;
    padding-inline-end: 44px;

    p {
        margin: 0;
    }

    &>.flex {
        justify-content: space-between;
        align-items: center;
        padding-block: 24px;

        &:first-child {
            padding-block-start: 0px;
        }

        .flex {
            justify-content: space-between;
            align-items: center;
            gap: 15px;
        }
    }

    &>*:not(:last-child) {
        border-bottom: 1px solid rgb(235, 235, 235);
    }

    button {
        border-radius: 50%;
        height: 32px;
        width: 32px;
    }
}