// בס"ד
.where-modal {
    position: absolute;
    top: 159px;
    left: 343px;
    z-index: 101;
    width: 840px;
    height: 472px;
    border-radius: 31px;
    background-color: #fff;
}

.check-modal {
    position: absolute;
    top: 159px;
    left: 343px;
    z-index: 101;
    height: 552px;
    width: 850px;
    border-radius: 30px;
    background-color: #fff;
}

.who-modal {
    position: absolute;
    top: 159px;
    left: 786px;
    z-index: 101;
    height: 400px;
    width: 407px;
    border-radius: 29px;
    background-color: #fff;
}