// בס"ד

.filter {
    width: fit-content;
    transform: translate(60px, 0px);
}

.filter-btns {
    // text-align: right;
    background-color: #fff;
    border: solid 1px #dddddd;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 1px 2px #00000014, 0 4px 12px #0000000d;
    border-radius: 30px;
    padding-inline: rem(9px);
    padding-block: 0;
    height: 48px;
    
    &:hover {
        box-shadow: 0 1px 3px #bbb            

    }

    button {
        color: rgb(34, 34, 34);
        font-weight: 600;
        font-size: rem(14px);
        transform: translate(5px, -10px);
        // text-align: right;
        height: rem(48px);
        background-color: transparent;
        padding-inline: 15px;
    }

    :nth-child(5) {
        color: rgb(113, 113, 113);
        font-weight: 400;
    }
}

.separator {
    display: inline-block;
    width: 1px;
    height: 1em;
    transform: translate(5px, -5px);
    border-right: 1px solid rgb(216, 213, 213);
    // transform: translate(8px, 11px);
}

.filter .icon {
    transform: translate(8px, 11px);
    background-color: #ff385c;
    border-radius: 50%;
    position: relative;
    width: rem(32px);
    height: rem(32px);

    svg {
        position: relative;
        display: block;
        top: rem(10.4px);
        left: rem(9.28px);
        height: rem(12px);
        width: rem(12px);
        stroke: #fff;
        stroke-width: 5.33333;
    }
}