// בס"ד

.where-modal {
    position: absolute;
    top: 158px;
    left: 334px;
    z-index: 101;
    width: 840px;
    height: 473px;
    border-radius: 32px;
    background-color: #fff;
    font-family: Airbnb_Cereal-Book;

    .flex {
        padding-block: 32px;
        justify-content: center;
        // align-items: center;

        .resent-searches {
            width: 345px;
            height: 410px;
            border-right: 1px solid #ebebeb;

            h5 {
                padding-inline-start: 32px;
                padding-block-start: 10px;
                ;
            }
        }

        .regions {
            width: 478.8px;
            height: 386px;
            padding-inline-start: 44px;

            h5 {
                margin-block-end: 30px;
                margin-block-start: 8px;
                padding-inline-start: 6px;
            }

            .grid {

                grid-template-columns: repeat(3, min-content);
                column-gap: 5px;
                row-gap: 18px;

                >* {
                    padding: 4px;
                }

                .flex {
                    flex-direction: column;

                    .region-img {
                        height: 124px;
                        width: 124px;

                        img {
                            cursor: pointer;
                            height: 124px;
                            border-radius: 12px;
                            border: 1px solid rgb(221, 221, 221);

                            &:hover {
                                border-color: #000;

                                &:active {
                                    height: 100px;
                                    margin: 12px;
                                }
                            }

                        }
                    }

                    .region-title {
                        padding: 3px;

                        p {
                            font-size: 14px;
                            margin: 0;
                            padding-block-start: 3px;
                        }
                    }
                }
            }
        }
    }
}

.check-modal {
    position: absolute;
    top: 159px;
    left: 343px;
    z-index: 101;
    height: 552px;
    width: 850px;
    border-radius: 30px;
    background-color: #fff;
    font-family: Airbnb_Cereal-Book;

}

.who-modal {
    position: absolute;
    top: 158px;
    left: 777px;
    z-index: 101;
    height: 400px;
    width: 406px;
    border-radius: 32px;
    background-color: #fff;
    padding-block: 30px;
    padding-inline-start: 36px;
    padding-inline-end: 42px;
    font-family: Airbnb_Cereal-Book;

    h5 {
        margin-block-end: 0;
    }

    p {
        margin: 0;
    }

    &>.flex {
        justify-content: space-between;
        align-items: center;
        padding-block: 21px;

        &:first-child {
            padding-block-start: 0px;

            .guests-title {
                padding-block-start: 20px;
            }
        }

        .guests-title {
            padding-block-start: 12px;
        }

        .flex {
            align-items: center;
            gap: 15px;
            font-size: 14px;
        }
    }

    &>*:not(:last-child) {
        border-bottom: 1px solid rgb(235, 235, 235);
    }

    button.flex {
        justify-content: center;
        background-color: #fff;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 50%;
        height: 32px;
        width: 32px;

        svg {
            display: block;
            height: 12px;
            width: 12px;
            stroke: rgb(113, 113, 113);
            stroke-width: 5.33333;
        }

        &:hover {
            border-color: rgb(34, 34, 34);

            svg {
                stroke: rgb(34, 34, 34);
            }
        }
    }

    .adults {
        transform: translate(2px, -7px);

        +p {
            transform: translate(1px, -2px);
            font-size: 14px;

        }

        &.flex {
            transform: translate(-1px, 3px);
        }
    }

    .children {
        transform: translate(3px, -7px);

        +p {
            transform: translate(1px, -1px);
            font-size: 14px;

        }

        &.flex {
            transform: translate(-1px, 0px);
        }
    }

    .infants {
        transform: translate(2px, -6px);

        +p {
            transform: translate(1px, -1px);
            font-size: 14px;

        }

        &.flex {
            transform: translate(-1px, 0px);
        }
    }

    .pets {
        transform: translate(2px, -6px);

        +a {
            transform: translate(1px, -1px);
            font-size: 14px;
        }

        &.flex {
            transform: translate(-1px, 0px);
        }
    }

}

.demo-date-picker {
    display: flex;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
}

.demo-date-picker .block {
    padding: 30px 0;
    text-align: center;
    border-right: solid 1px var(--el-border-color);
    flex: 1;
}

.demo-date-picker .block:last-child {
    border-right: none;
}

.demo-date-picker .demonstration {
    display: block;
    color: var(--el-text-color-secondary);
    font-size: 14px;
    margin-bottom: 20px;
}