// בס"ד 

.el-carousel {
 aspect-ratio: 1/1;
}
.el-carousel_container{
  position: relative;
  height: 305px;
}
.heart-svg {

  svg {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    fill: $clr7;
    height: 24px;
    width: 24px;
    stroke: $clr6;
    stroke-width: 2;
  }
}

.card {
  cursor: pointer;
}