// בס"ד

.mini-preview {
    display: grid;
    grid-template-columns: 150px 320px 250px 150px 150px 150px 1fr;

    align-items: center;

    &+ul {
        padding: 0;

        &>* {
            margin: 0;

            &:not(:last-child) {
                padding-block: rem(5px);
                border-block-end: 1px solid rgb(221, 221, 221);
            }
        }

        &:last-child {
            padding-block-start: rem(5px);
        }

        li {
            // height: 100px;
            list-style: none;
            height: 92px;
            /* margin-block-start: 15px; */
            padding-block-start: 10px;
            // padding-block-end: 10px;

            div {
                height: 20px;
            }

            img {
                height: 70px;
                aspect-ratio: 1.4/1;
            }

            p {
                font-size: 14px;
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                width: 80%;
                text-overflow: ellipsis;
            }

            .edit {
                padding: 8px;

            }
        }
    }
}