.stay-edit {
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 12px;
}

.address-inputs, .stay-edit-details {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    gap: 15px;

    label {
        color: $clr17;
        font-family: CircularAir-Light;
        justify-self: center;
    }

}
.add-input {
    border: 1px solid $clr9;
    padding: 5px;
    font-size: rem(16px);
    border-radius: 3px;
}

.add-input-name{
    border: 1px solid $clr9;
    padding: 5px;
    font-size: rem(16px);
    border-radius: 3px;
    width: 100%;
}

.save-form-btn {
    height: 30px;
    padding: 5px;
    background-color: $clr1;
    border-radius: 5px;
    
}

.upload-img {
    display: grid;
    grid-template: 1fr 1fr/2fr 1fr 1fr;
    border-radius: 20px;
    gap: 8px;
    margin-bottom: 15px;
    height: 350px;
    margin-top: 15px;
    width: 100%;
    background-color: $clr6;

    .img-1 {
        grid-row: 1/3;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        img {
            width: 100%;
            height: 100%;   
            border-bottom-left-radius: 12px;
            border-top-left-radius: 12px;
        }
    }
    .img-2 {
        img {
            width: 100%;
            height: auto;   
        }
     
    }
    .img-3 {
        border-top-right-radius: 12px;
        img {
            width: 100%;
            height: 100%;   
            border-top-right-radius: 12px;
        }
        
    }
    .img-4 {
        border-top-right-radius: 12px;
        img {
            width: 100%;
            height: 100%;   
        }
        
    }
    .img-5 {
        border-bottom-right-radius: 12px;
        img {
            width: 100%;
            height: 100%;   
            border-bottom-right-radius: 12px;
        }
    }

    .img-area {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid lightgrey;
        cursor: pointer;
        
    }

    .drop-upload {
        display: flex;
    align-items: center;
    flex-direction: column;

    span {
        color: rgb(10, 96, 224);
        &:hover {
            cursor: pointer;
        }
    }
}
.img-upload-svg {
    height: 80px;
    width: 80px;
    fill: $clr17;
}

p {
    padding: 10px;
    font-size: rem(16px);
}
}
.input-file {
    margin-left: 100px;
}


.stay-edit-details-desc {

    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    gap: 15px;
    color: $clr17;
    font-family: CircularAir-Light;
      
}

