// בס"ד

.stay-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
    gap: 23px;
    row-gap: 45px;
    

    li {
        color: $clr6;
        padding: 1px;
        margin: 3px;
        margin-bottom: 11px;
        
    }

    a {
        color: $clr1;
        padding: 10px;
    }

    img {
        height: 100%;
        // width: 100%;
    }
    
    .el-carousel__item {
        border-radius: 9px;
    }
    
}
.el-carousel {
    // aspect-ratio: 1/1;

}
.el-carousel__container {
    height: 100%;

}