// בס"ד

.stay-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(321.2px, 321px));
    gap: 23px;
    row-gap: 45px;

    li {
        color: $clr6;
        padding: 1px;
        margin: 3px;
        margin-bottom: 11px;
        
    }

    a {
        color: $clr1;
        padding: 10px;
    }

    img {
        height: 300px;
        width: -webkit-fill-available;
        border-radius: 9px;
    }

    .el-carousel {
        border-radius: 9px;
    }

}