.wishlist-header {
    margin-block-start: rem(56px);
    font-size: rem(32px);;
}

.wish-stay-list {
    display: grid;
    margin-top: 46px;
    grid-template-columns: repeat(3,1fr);
    gap: 22px;
    justify-content: space-between;

    ul {
        list-style: none;
    }
    @include for-mobile-layout {
        // background-color: rgb(174, 239, 189);
       grid-template-columns: minmax(auto, 440px);
    }
}

.imgs-container{
    display: grid;
        grid-template: repeat(2,107px)/1fr 1fr;
        border-radius: 20px;
        gap: 1px;
        margin-bottom: 15px;
        @include for-mobile-layout {
            // background-color: rgb(174, 239, 189);
           grid-template-columns: repeat(2,107px)/1fr 1fr
        }

   

    .wish-img1 {
        width: 277px;
        height: 216px;
        grid-column: 1;
        grid-row: 1/-1;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        @include for-mobile-layout {
            // background-color: rgb(174, 239, 189);
          width: 288px;
        }
    }

    .wish-img2 {
        width: 136px;
        height: 107px;
        border-top-right-radius: 15px;
        @include for-mobile-layout {
            // background-color: rgb(174, 239, 189);
          width: 111px;
        }
    }

    .wish-img3 {
        width: 136px;
        height: 108px;

        border-bottom-right-radius: 15px;
        @include for-mobile-layout {
            // background-color: rgb(174, 239, 189);
          width: 111px;
        }

    }
}