// בס"ד

.basad {
    position: absolute;
    top: 3px;
    right: 3px;
}

// .main-layout {
//     display: grid;
// }


.app{
    min-height: 100vh;
    display: grid;
    position: relative;
    grid-template-rows:80px 1fr ;
    
}

.stay-app {
    display: grid;
    grid-template-columns: minmax(20px,1fr) minmax(auto,88.3vw) minmax(20px,1fr);

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
  
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}