// בס"ד

.basad {
    position: absolute;
    top: rem(-3px);
    right: rem(3px);
    font-size: small;
    z-index: 10000;
}

// .main-layout {
//     display: grid;
// }


// .app {
//     min-height: 100vh;
//     display: grid;
//     position: relative;
//     grid-template-rows: 80px 1fr;

// }

.stay-app {
    display: grid;
    grid-template-columns:
        minmax(rem(20px), 1fr) minmax(auto, rem(1360px)) minmax(rem(20px), 1fr);

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

}

.main-container {
    display: grid;
    grid-template-columns: rem(20px) 1fr rem(20px);

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    // @include for-narrow-layout {
    //     // background-color: darkblue;
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $mobile-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-normal-layout {
    //     // background-color: salmon;
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $narrow-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-wide-layout {
    //     // background-color: violet;
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto,1600px)
    //         minmax(20px, 1fr);
    // }

}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(300px), 1fr));
    grid-gap: rem(20px);
}
