// בס"ד

.basad {
    position: absolute;
    top: rem(-3px);
    right: rem(3px);
    font-size: small;
    z-index: 10000;
}


.stay-app {
    display: grid;
   
    grid-template-columns: 20px 1fr 20px;
   
    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
    @include for-mobile-layout {
        // background-color: rgb(174, 239, 189);
        grid-template-columns: 
            minmax(2px, 1fr)
            minmax(auto,383px)
            minmax(2px, 1fr);
    }
    @include for-mobile2-layout {
        // background-color: rgb(239, 174, 182);
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto,650px)
            minmax(20px, 1fr);
    }
    @include for-narrow-layout {
        // background-color: darkblue;
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, 960px)
            minmax(20px, 1fr);
    }
    @include for-narrow2-layout {
        // background-color: rgb(12, 158, 133);
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint + 100px)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        // background-color: salmon;
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $narrow2-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        // background-color: violet;
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto,1500px)
            minmax(20px, 1fr);
    }

}

.card-grid {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(rem(300px), 1fr));
    // grid-gap: rem(20px);
}
