.reservations-container {
    display: grid;
    // grid-template-columns: minmax(50px, 1fr)auto minmax(50px, 1fr);

    .thead {
        font-size: 14px;
        font-family: CircularAir-Light;
        font-weight: 600;
    }
}

.reservations-chart {
    padding-block: 15px;
    margin-block: 2.5px;
    padding-left: 0;
    grid-column: 1;
    display: grid;
    grid-template-columns: 150px 321px 110px 110px 121px 139px 324px;
    justify-items: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    width: 84%;
    margin-left: 8%;
    .btn-approve {
        padding: 8px;
         background-color: #c3efc3;
         border: 1px solid lightgray;
        border-radius: 9px;
    }

    .btn-reject {
        padding: 8px;
        background-color: #f7b7b7;
        border: 1px solid lightgray;
        border-radius: 9px;
        min-width: 65px;
    }
    .btn-approve:hover {
      
         background-color: #88f788;
      
 
    }

    .btn-reject:hover {

        background-color: #f98686;
       
    }

    .reservations-chart-item {
        list-style-type: none;

        font-size: 14px;
        font-family: CircularAir-Light;
    }

    .reservations-chart-item.col1 {
        grid-column: 1;
        display: flex;
        align-items: center;
        gap: 10px;

        .user-url {
            width: 36px;
            height: 36px;
            border-radius: 100px;
        }
    }

    .reservations-chart-item.col2 {
        grid-column: 2;
        overflow: hidden;
        white-space: nowrap;
        width: 80%;
        text-overflow: ellipsis;
    }

    .reservations-chart-item.col3 {
        grid-column: 3;

    }

    .reservations-chart-item.col4 {
        grid-column: 4;

    }

    .reservations-chart-item.col5 {
        grid-column: 5;

    }

    .reservations-chart-item.col6 {
        grid-column: 6;

    }

    .reservations-chart-item.col7 {
        grid-column: 7;
        display: flex;
        gap: 10px
    }

}