.mobile-search-view {
    position: fixed;
    inset: 0 0 0 0;
    background-color: #f7f7f7;
    grid-template-rows: auto 1fr;

    .mobile-search-view-btn-close {
        padding: 10px;

        .back-btn {
            background-color: #fff;
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid rgb(176, 176, 176);
        }

        .back-btn:hover {
            border-color: #00000014;
            background-color: #fff;
            color: #000;
            box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 6px 16px #0000001f;
            transform: scale(1.04);
        }
    }

    .modals-container {
        padding: 10px 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .filter-type-container {
            padding: 19px;
            box-shadow: 0 0 0 1px #0000000a, 0 6px 20px #0003;
            border-radius: 24px;
            background-color: #fff;

            .date-picker-wapper {
                max-height: 300px;
                overflow: hidden;
                overflow: scroll;
            }
        }

        .whrere-to-txt {
            font-size: 22px;
            line-height: 26px;
            font-weight: 800;
            padding-bottom: 10px;
        }


    }

    .day-names {
        position: sticky;
        top: 0;
        display: grid;
        padding-top: 10px;
        background-color: #fff;
        grid-template-columns: repeat(7, 1fr);

        span {
            display: flex;
            color: #949494;
            justify-content: center;
            border-bottom: 2px solid #ddd;
            font-weight: 600;
            font-size: 14px;
        }
    }

    .container-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer
    }

    .container-title:first-of-type {
        font-family: Airbnb_Cereal-Medium;
        background-color: transparent;
        color: #717171;
        line-height: 18px;
        font-size: 14px;
        font-weight: 600;
    }

    .container-title-txt {

        font-weight: 400;
    }
}

.destination-modal {
    padding: 19px;
    box-shadow: 0 0 0 1px #0000000a, 0 6px 20px #0003;
    border-radius: 24px;
    background-color: #fff;

    .txt-input-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;

        .title {
            font-size: 22px;
            line-height: 26px;
            font-weight: 800;
            padding-bottom: 10px;
        }

        input {
            align-self: stretch;
            padding: 0 20px;
            white-space: nowrap;
            height: 60px;
            border-radius: 12px;
            border: 1px solid rgb(176, 176, 176);
            background: rgb(255, 255, 255);
            outline: 0;
            font-weight: 600;
            width: 100%;
        }
    }

    .regions-container {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #fff;
        row-gap: 30px;
        place-content: center;
        cursor: pointer;

        .regions {
            position: relative;
            display: flex;
            overflow: auto;
            padding-left: 0;
            padding-block: 10px;
            row-gap: 30px;
            column-gap: 10px;

            img {
                border: 1px solid rgb(221, 221, 221);
                border-radius: 5px;
                width: 122px;
                aspect-ratio: 1/1;
                cursor: pointer
            }

            img:hover {
                border: 1px solid #000;
            }

            .region-name {
                font-size: 0.9rem;
                font-family: CircularAir-Light;
                margin-inline-start: 3px;
            }
        }

    }



}

.shadow {
    box-shadow: 0 0 0 1px #0000000a, 0 6px 20px #0003
}

.mobile-guests-info-model {
    padding: 19px;
    box-shadow: 0 0 0 1px #0000000a, 0 6px 20px #0003;
    border-radius: 24px;
    background-color: #fff;
}

.title-guests {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: 800;
    padding-bottom: 10px;
    font-family: Airbnb_Cereal-Medium;
}

.categories-container {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .category-container {
        display: flex;
        gap: 0;
        padding: 15px 4px 15px 0;
        justify-content: space-between;
        border-block-end: 1px solid #e7e7e7;

        .category {
            width: max-content;
            padding-top: 0;

            .category-title {
                padding: 0 0 6px;
                margin: 0;
            }

            .category-subtitle {
                margin: 0;
                color: #7c7c7c;
                font-size: 14px;
                font-family: Arial, Helvetica, sans-serif;
            }

        }

        .btns-container {
            display: flex;
            align-items: center;
            gap: 10px;

            .btn-guests-modal {
                border-radius: 5em;
                display: grid;
                place-content: center;
                width: 32px;
                height: 32px;
                border: 1px solid rgb(176, 176, 176);
                background-color: #fff;

            }


            // .counter {
            //     padding: 10px;
            //     width: 2em;
            //     font-family: CircularAir-Light;
            // }
        }
    }
}

.search-mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    padding-block: 10px;
    padding-inline: 20px;
    align-items: center;
    justify-content: space-between;

    .clear-all {
        cursor: pointer;
        border-bottom: 1px solid black;
        font-family: CircularAir-Light;
    }
    .btn-container{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   width: 125px;
   cursor: pointer;
   .txt{
       font-family: CircularAir-Light;
           font-weight: 600;
   }
   .mobile-serach-btn-container{
    margin-top: 18px;
// position: absolute;
   }
    }
    .mobile-search-btn{
        position: absolute;
        color: #fff;
        font-weight: 400;
        font-family: CircularAir-Light;
      
        
    }
}

.gray {
    stroke: lightgrey
}

.black {
    stroke: #222
}