.reservation-view-container {
    display: grid;
    grid-template-columns: minmax( 20px,1fr) minmax(auto,1140px) minmax(20px,1fr);
    color: $clr12;


    .reservation-header {
        grid-column: 2;
        display: flex;
        align-items: center;
        padding-block: 64px 50px;
        height: max-content;

        .reservation-header-svg {
            position: relative;
            top: 30%;
            left: 30%;
        }

        .reservation-header-svg-container {
            position: relative;
            height: 40px;
            width: 40px;
            border-radius: 100px;

        }

        .reservation-header-svg-container:hover {
            background-color: $clr11;
        }

        h2 {
            margin: 0;
            padding-left: 18px;
            font-size: rem(30px);
        }
    }

    .reservation-container {

        @include for-mobile-layout {
            display: flex;
            flex-direction: column;
        }

        color: $clr12;
        grid-column: 2;
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
        color: $clr12;

        .trip-summary {
            color: $clr12;
            border-bottom: 1px solid rgb(222, 222, 222);
       
            font-family: CircularAir-Light;
       

            h2 {
                font-size: rem(20px);
                margin-block-end: 31px;
             

            }

            span {
                margin-block-start: 8px;
            }

            .trip-summary-dates {
                padding-bottom: 24px;
       

                h3 {
                    margin-bottom: 6px;
                    font-size: 16px;
                    font-weight: 600;
                    
                }

                span {
                    font-size: 16px;
                }
            }

            .trip-summary-guests {
                padding-bottom: 24px;
                h3 {
                    margin-bottom: 6px;
                    font-size: 16px;

                }

                span {
                    font-size: 16px;
                }
            }
        }

        .reservation-container-info-cancellation {
            padding-top: 32px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgb(222, 222, 222);
            h2{
                font-family: CircularAir-Light;
                font-size: em(22px);
                margin-bottom: 20px;
                
            }
            p{
                font-family: CircularAir-Light;
                font-size: 16px;
            }
        }

        .reservation-container-info-ground-rouls {
            padding-top: 32px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgb(222, 222, 222);
                h2{
              font-family: CircularAir-Light;
                font-size: em(20px);
                margin-bottom: 20px;
                }
            p {
                font-family: CircularAir-Light;
                display: flex;
                align-items: center;
                font-size: em(16px);
                margin-top: 25px;
                margin-bottom: 0;
            }
            .rules{
                margin: 0;
            }

            .remainder {
                margin-block:0;
                margin-inline-start: 8px;
            }
        }

        .reservation-container-info-wont-confirmed {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding-top: 32px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgb(222, 222, 222);

            p {
                font-family: CircularAir-Light;
                font-weight: 600;
                margin: 0;
                span{
                    font-weight: 400;

                }
            }

            .wont-confirmed-svg {
                margin-block-start: 4px;
                margin-inline-end: 30px;
            }
        }

        .reservation-price-details-modal {
                
    @include for-mobile-layout {
        margin-top: 20px;
    }
            position: sticky;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // gap: 24px;
            margin-top: 0px;
            margin-left: 8.3333333333%;
            border: 1px solid rgb(221, 221, 221);
            border-radius: 12px;
            padding: 24px;
            top: 128px;
            box-shadow: #0000001f 0 6px 16px;
            width: 73%;
            height: max-content;

            .reservation-privew {
                @include for-mobile-layout {
                    display: flex;
                    flex-direction: column;
                    border-bottom: none;
                   
                }
                min-width: 300px;
                display: grid;
                grid-template-columns: 125px 2fr;
                column-gap: em(10px);
                border-bottom: 1px solid rgb(222, 222, 222);
                padding-bottom: 11px;

                .reservation-privew-info {
                    position: relative;
                    top: -5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-family: CircularAir-Light;

                    .stay-type {
                        margin-top: 0;
                        font-size: 12px;
                        color: $clr9;
                    }

                    p {
                        margin: 0;
                        font-size: 14px;
                    }

                    .reservation-privew-info-reviews-container {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;

                        .rate-score {
                            font-size: 12px;
                            font-weight: 600;
                        }

                        .num-of-reviews {
                            font-size: 12px;
                            margin-inline-start: 4px;

                        }

                        .super-host {
                            font-size: 12px;
                            margin-inline-start: 4px;
                        }

                        .dot {
                            margin-inline-start: 11px;

                        }

                        .superHost-svg {
                            margin-inline-start: 5.5px;

                        }
                    }
                }

                .reservation-privew-img-container {
                    @include for-mobile-layout {
                        width: 200px;
                    }
                    .reservation-privew-img {
                        width: 100%;
                        object-fit: cover;
                        grid-row: 1/4;
                        border-radius: 9px;
                        height: 107px;

                    }
                }

            }

            .reservation-privew-cover {
                padding-block: 45px;
       
                border-bottom: 1px solid rgb(222, 222, 222);
                font-family: CircularAir-Light;
                font-size: 1em;
                .air-cover-img{
                    width: 60px;
                }
            }

            .reservation-price-details {
                font-family: CircularAir-Light;
                padding-bottom: 20px;
                
                h3 {
                    padding-top: 30px;
                    font-size: 21px;
                
                    margin-bottom: 22px;
                }

                .prices {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-bottom: 14px;
                    gap: 10px;

                    p {
                        margin: 0;
                    }
                    .flex-end{
                        justify-self: flex-end;
                    }
                }
            }

            .reservation-price-total {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                font-weight: 600;
                font-family: CircularAir-Light;
                p{
                    font-size: 0.8em;
                    margin: 0;
                }

            }

        }
    }
}
.res-action-btn{
    background-color: transparent;
    span{
        color: #fff;
    }
}
.res-btn-container {
    
    @include for-mobile-layout {
        display: none
    }
    position: relative;
    left:5px;
    width: em(175px);
    height: em(50px);
    .content{
        top:42px
    }
}
.footer-reservation-view-container {
    display: none;
    @include for-mobile-layout {
        // display: block;
   
        // width: 100%;
        // height: 48px
    }
    
}

.footer-reservation-view-btn {
    display: none;
    @include for-mobile-layout {
        // display: block;
        // position: absolute;
        // width: 100%;
        // height: 48px
    }
    .reservation-privew-img-container {
}}

// .footer-reservation-view {
//     width: 100%;
// }

// @include for-mobile-layout {
//     display: flex;
//     flex-direction: column;
// }
