.stay-details {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

.stay-details-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    min-height: 96vh;
}

.subtitle {
    h2 {
        font-family: CircularAir-Light
    }
}

.details-subtitle {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 0em;

    padding-right: 0px;
    padding-top: em(24px);
    padding-bottom: em(24px);

    h2 {
        padding: 0;
        margin-bottom: 0;
        font-family: CircularAir-Light;
        line-height: em(20.0167px);
    }
   
    .details-links {
        display: flex;
        justify-content: space-between;
        .details-links-reviews{
  display: inline-flex;
        min-width:0;
       align-items: center;
       margin-block-start: em(0.5px);
      
        .d-link .reviews{
            margin-inline-start: em(2px);
        }
        }

        .d-link {
            margin-inline-start: em(4px);
       
            font-size: 14px;
            color: #222;
            text-decoration: underline;
        }

        .share-save-container {
            display: flex;      
            gap: 13px;
        
            .share-save-info-svg{
                margin-block-start: 4px;
                margin-inline-end: 0px;
                font-weight: 400;
            }
            .share-svg{
                margin-block-start: 7px;
            }
            .d-link-share,
            .d-link-save {
                display: contents;
                font-size: 14px;
                color: #222;
                text-decoration: underline;
            }
        }


    }
}


.details-gallery {
    display: grid;
    grid-template-rows: repeat(2, minmax(150px, 200px));
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 15px;
    gap: 10px;

    .item {
        width: 100%;
        height: 100%;
        color: #222;
        object-fit: cover;
    }

    .item1 {
        grid-column: 1;
        grid-row: 1/-1;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }
}

.place-info {
    display: flex;
    justify-content: space-between;

}

.place-content {
    width: 58%;
}

.user-stay-info {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 24px 16px;
    padding-block: 32px;
    border-bottom: 1px solid #dddddd;

    .user-stay-info-title {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .user-stay-info-svg {
        width: 1.3rem;
        margin-top: 3px;
    }

    .subtext {
        padding-bottom: 0;
        margin-top: 4px;
        font-size: .875em;
        color: #717375;
    }
}

.air-cover {
    span {
        color: $clr1
    }
}

.amenities-container {
    padding-bottom: 0;
    border-bottom: 0;

    .stay-amenities {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .user-stay-info-svg {
        display: inline;
    }

    .amenity {
        display: flex;
        align-items: center;
        padding-bottom: 16px;
    }
}
.dot{
    margin-inline-start: em(4px);
    font-size: em(10px);
 }



//  airbnb button