.dashBoard-container{
    display: grid;
    // grid-template-columns: minmax(20px,1fr) auto minmax(20px,1fr);
}
.dashboard-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#a19c9d;
    .dashboard-link {
        color: rgb(57, 56, 56);
    text-decoration: none;
    padding: 30px;
    }


  
}
.dashboard-link {
    color: $clr7;
text-decoration: none;
padding: 10px;
}