.dashBoard-container{
    display: grid;
    grid-template-columns: minmax(20px,1fr) auto minmax(20px,1fr);
}
.dashbaord-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ff385c;
}