// בס"ד

@font-face {
    font-family: Airbnb_Cereal-Medium;
    src: url(https://res.cloudinary.com/dii16awkb/raw/upload/v1680541315/Airbnb_Cereal-Medium_zgnvkc.ttf);
}

@font-face {
    font-family: Airbnb_Cereal-Book;
    src: url(https://res.cloudinary.com/dii16awkb/raw/upload/v1680541660/Airbnb_Cereal-Book_y3ypp6.ttf);
}

@font-face {
    font-family: CircularAir-Light;
    src: url(https://res.cloudinary.com/dii16awkb/raw/upload/v1680541315/Airbnb_Cereal-Medium_zgnvkc.ttf);
}

