// בס"ד

@font-face {
    font-family: Airbnb_Cereal-Medium;
    src: url(src/assets/fonts/Airbnb_Cereal-Medium.ttf);
}

@font-face {
    font-family: Airbnb_Cereal-Book;
    src: url(src/assets/fonts/Airbnb_Cereal-Book.ttf);
}

@font-face {
    font-family: CircularStd-black;
    src: url(src/assets/fonts/CircularStd-black.ttf);
}
@font-face {
    font-family: CircularAir-Light;
    src: url(src/assets/fonts/CircularAir-Light.ttf);
}

@font-face {
    font-family: FlowCircular-Regular;
    src: url(src/assets/fonts/FlowCircular-Regular.ttf);
}