// בס"ד

@font-face {
    font-family: Airbnb_Cereal-Medium;
    src: url(src/assets/fonts/Airbnb_Cereal-Medium.ttf);
}
@font-face {
    font-family: FlowCircular-Regular;
    src: url(src/assets/fonts/FlowCircular-Regular.ttf);
}
