// בס"ד

//css vars
:root{
    --vc-gray-600:#222;
    --vc-highlight-solid-content-color:#222
}
// Colors
$clr1: #fe385c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222222;
$clr8: #222;
$clr9: #717171;
$clr10: #000000;
$clr11:#F7F7F7;
$clr12: #222222;
$clr13: #e7e2e2;
$clr14: #ebebeb;
$clr15: #1b1b1b57;
$clr16: #DDDDDD;
$clr17: #969393;

.vc-gray {
    color: var(--vc-gray-600);
 
}
.vc-light .vc-attr{
    color: var(--vc-highlight-solid-content-color)
}
// Breakpoints
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;

$mobile-breakpoint: 600px;
$mobile2-breakpoint:950px;
$narrow-breakpoint: 1100px;
$narrow2-breakpoint: 1300px;
$normal-breakpoint: 1550px;
$wide-breakpoint: 1760px;