// בס"ד

// Colors
$clr1: #fe385c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #00000080;
$clr8: #222;
$clr9: #717171;
$clr10: #222222;

// Breakpoints
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;

$mobile-breakpoint: 510px;
$narrow-breakpoint: 704px;
$normal-breakpoint: 910px;
$big-breakpoint: 1090px;